<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - MR CMS</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/home/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for the home page -->
    <link href="/css/home/blog-home.css" rel="stylesheet">

    <!-- Custom styles for the post single -->

    <link href="/css/home/blog-post.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->

{{> home/home-nav}}


<!-- Page Content -->
<div class="container">

   {{{body}}}

</div>
<!-- /.container -->

<!-- Footer -->

{{> home/footer}}

<!-- Bootstrap core JavaScript -->
<script src="js/home/jquery.min.js"></script>
<script src="js/home/bootstrap.bundle.min.js"></script>

</body>

</html>
